body{
    color :black;
    background: red(204, 187, 187);
    font-family: "Moderustic", sans-serif;
    margin: Opx;
}


header{
    border-bottom: solid 2px red;

    padding: 20px;
    font-size: 32px;
    color: bluevit;
}

section{
    background-color: aquamarine;
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;

}

.chamada-texto{
    margin-right: 5%;
}